# Auto detect text files and perform LF normalization
* text=auto
c:\Users\PJeef\OneDrive\Desktop\my-website\images c:\Users\PJeef\OneDrive\Desktop\my-website\about.html c:\Users\PJeef\OneDrive\Desktop\my-website\aboutcrotchet.html c:\Users\PJeef\OneDrive\Desktop\my-website\crotchet.html c:\Users\PJeef\OneDrive\Desktop\my-website\index.html c:\Users\PJeef\OneDrive\Desktop\my-website\style.css
